@use '../../utilities/mixins';

.latestEarthquakes {
  @include mixins.cardFrame;

  @media (width < 600px) {
    width: 350px;
  }

  &__searchBox {
    width: 80%;
    margin: 1rem 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}
