@use '@fremtind/jokul/styles/core/core';
@use '@fremtind/jokul/styles/core/jkl';
@use '@fremtind/jokul/styles/fonts' with (
  $webfonts-dir: '../../../node_modules/@fremtind/jokul/src/fonts'
);
@use '@fremtind/jokul/styles/styles';

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 2rem 0 2rem;
    text-align: center;
  }

  main {
    min-height: 90vh;
  }

  &__cards {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    &__rightCol {
      display: flex;
      flex-direction: column;
      gap: jkl.$spacing-12;
      max-height: fit-content;
    }
  }

  @media (width < 920px) {
    padding: 1rem;

    &__cards {
      flex-direction: column-reverse;
    }
  }

  footer {
    margin: 1.5rem 0;
  }
}
