@use '../../utilities/mixins';

.subscriptionForm {
  @include mixins.cardFrame;

  h2 {
    padding-bottom: 1rem;
    text-wrap: wrap;
  }

  &__emailInput {
    padding-bottom: 1rem;
  }

  &__result {
    padding-top: 1rem;
  }
}