@use '../../utilities/mixins';

.subscriptionForm {
  @include mixins.cardFrame;

  &__result {
    padding-top: 1rem;

    &__loader {
      justify-content: center;
      padding: 1rem 0;
    }
  }

  &__emailInput {
    align-items: flex-start;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  &__info {
    padding: 1rem 0;
  }
}